@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
/* width */
::-webkit-scrollbar {
  /* width: 10px;
  height: 10px; */
  @apply w-2 h-2 md:w-2 md:h-2
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #88888846; */
  border-radius: 5px;
  @apply bg-slate-500 opacity-60
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b42222; */
  @apply bg-pink-400
}



:root {
  @apply scroll-smooth !font-["Kodchasan"] font-["sans-serif"]
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}